.Intro {
    width: 100%;
    padding:100px;
    padding-bottom:570px;
    border: solid rgb(109, 150, 160);
    border-width: 20px;
    background-color: rgb(192, 195, 228);
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align:center
  }

.about {
      font-weight:bolder;
      color: rgb(71, 71, 58);
  }

.body {
    width: 100%;
    border: solid rgb(92, 164, 182);
    border-width: 20px;
    background-color: rgb(192, 231, 253);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

h1 {
    text-size-adjust: 24;
}

.links {
    width: 100%;
    border: solid rgb(123, 130, 231);
    border-width: 20px;
    background-color: rgb(119, 217, 255);
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  .Left {
    float:left
  }

  .Right {
    float:right
  }